# .env.example

# Telegram Bot Token
tg_TELEGRAM_TOKEN=<your_telegram_bot_token>

# Telegram Chat ID
tg_TELEGRAM_CHAT_ID=<your_telegram_chat_id>

# Maximum Video Size in MB
tg_MAX_VIDEO_SIZE_MB=<your_max_video_size_in_mb>

# Upload Timeout in seconds
tg_UPLOAD_TIMEOUT=<your_upload_timeout>

# Maximum Number of Retries
tg_MAX_RETRIES=<your_max_retries>

# Debug Mode (true/false)
tg_DEBUG=true